add
add
add
add
add
lt
push constant 254
and
add
lt
push constant 510
add
push constant 2
gt
push constant 2
sub
push constant 2
gt
push constant 1
add
sub
push constant 1
add
add
sub
push constant 2
add
add
push constant 1
add
lt
push constant 254
add
add
push constant 1
add
push constant 2
add
sub
push constant 1
add
add
gt
push constant 1
add
sub
push constant 1
add
add
sub
push constant 2
add
push constant 1
add
add
lt
push constant 510
add
push constant 1
add
add
push constant 2
add
sub
push constant 1
add
add